*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
    font-size: 18px;
}
body{
    width: 100%;
    height: 100vh;
    background: #0F002B;
    background-position: center;
    background-size: cover;
    padding: 0 7%;
    color: #fff;
}
nav{
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
}
.name a{
    color: #ff960b;
    font-size: 30px;
}
nav ul{
    flex: 1;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
nav .btn{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
}
.logins{
    padding: 0px 20px;
    display: flex;
}
.logins h1{
    padding: 10px 10px;
}
.logins a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding-top: 1px;
    margin: 10px 20px;
    font-weight: 700;
}
.sign{
    border:  solid #ff960b;
    border-radius: 10px;
    padding: 0px 10px;

}
.logins :is(.sign){font-weight: 700; color: #f1f0ee;}
.sign:hover{
    color: #ff960b;
}
.box{
    height: 30px;
    display: flex;
    cursor: pointer;
    background: #ff960b;
    border-radius: 50px;
    align-items: center;
    box-shadow: 0 10px 25px #0F002B;
    padding-left:10px ;
}

.box:hover input{
    width: 300px;
}
.box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 800;
    transition: 0.8s;
    background: transparent;
}
.box a .fa{
    color: black;
    font-size: 18px;
}

.main-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    margin-top: 70px;
}

.side1 h1{
    font-size: 80px;

}
.side1 h1 span{
    font-size: 80px;
    color: #ff960b;
}
.inp{
    margin-top: 20px;
}
.side1 input{
    width: 300px;
    height: 45px;
    border: 2px solid #9A9696;
    border-radius: 8px;
    font-weight: 200;
    padding: 20px;
    background: transparent;
    color: #f1f0ee;
}

.side1 .btn{
    width: 150px;
    height: 45px;
    border: 2px solid #ff960b;
    border-radius: 8px;
    font-weight: 200;
    background: transparent;
    text-align: center;
    color: #ff960b;
    cursor: pointer;
}

.rewards{
    font-size: 14px;
    margin-top: 10px;
    font-weight: 600;
}
.rewards i{
    color: #ff960b;
    font-size: 20px;
}

.connect{
    margin-top: 200px;
    display: inline-flex;
    justify-content: space-between;
    color: #9A9696;
}
.connect .app{
    padding-left: 150px;
}
.connect i{
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #ff960b;
    border: 1px solid;
    border-radius: 20%;
    padding: 5px;
}
.table{
    border: 2px solid #ff960b;
    border-radius: 10px;
    height: 18rem;
    width: 100%;
    padding-top: 20px;
    padding-left: 30px;
    
}
.table .coin{
    color: #9A9696;
    padding-top: 30px;
}
.table span{
    padding: 30px;
}
.table2{
    padding-top: 20px;
}
.table img{
    width: 30%;
}
.side2{
    margin-bottom: 200px;
    padding-left: 100px;

}
.news{
    display: flex;
    border: 2px solid #ff960b;
    margin-top: 20px;
    border-radius: 10px;
    height: 8rem;
    padding: 30px;
}
.pool{
    display: flex;
}

.sub-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0px;
    margin-top: 40px;
    padding-left: 10rem;
}
.qr-code{
    padding-left: 300px;
}
.qr-code h1{
    font-size: 40px;
}
.qr img{
    width: 40%;
    padding-top: 100px;
    border-radius: 20px;
}
.text{
    padding-left: 15rem;
    font-size: 15px;
    color: #9A9696;
}
.text span{
    color: #fff;
}

.sub-content2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.verify{
    justify-content: center;
}

/* LOGIN */
.form-value img{
    width: 10%;
}
.form-value a{
    text-decoration: none;
    color:#ff960b;
    padding-left: 30px;
    font-size: 28px;
    font-weight: 700;
}
.form-value{
    padding-bottom: 200px;

}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.form-box{
    width: 400px;
    height: 600px;
    background: transparent;
    border: 2px solid #ff960b;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 1.5em;
    color: #fff;
    text-align: left;
    padding-left: 30px;
    margin-top: 40px;
}
.inputbox {
    border: 2px solid #9A9696;
    border-radius: 10px;
    width: 90%;
    margin-left: 20px;
    margin-top: 30px;
}
.inputbox input {
    width: 90%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    margin-left: 30px;
    color: #fff;
}
.register{
    margin-top: 10.5px;
    margin-left: 60px;
}
.register a{
    text-decoration: none;
    color: #ff960b;
    font-size: 1em;
    font-weight: 700;
}
.form-value button{
    width: 80%;
    height: 50px;
    background: #ff960b;
    border: none;
    border-radius: 10px;
    color: #000;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 20px;
}
.google, .apple{
    width: 80%;
    height: 50px;
    border: 2px solid #9A9696;
    border-radius: 10px;
    width: 90%;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
    color: #9A9696;
}
.or{
    width: 90%;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    color: #9A9696;
}
.google:hover,.apple:hover{
    background: #ff960b;
    color: #000;
}
.form-value p{
    font-size: 1em;
    color: #fff;
    margin-left: 30px;
    margin-top: 10px;
}
.form-value span{
    text-decoration: underline;
}
